.nav {
  color: #000000;

  padding: 0 15px;
  margin: 20px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: inline;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.home,
.about {
  border: 5px solid #000000;
  padding: 20px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #01bcd3;
  transition: all 1s ease;
}
.home:hover,
.home:focus,
.about:hover,
.about:focus {
  background-color: #002b31;
}
