.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 250px;
  height: 35px;
  padding: 5px;
  margin: 15px;
  border: 1px #777 solid;
  border-radius: 5px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 3px solid black;
}

.ch1 {
  border: 3px solid rgb(31, 8, 234);
  padding: 10px;
}
